# Unity - Carpetas generadas
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
[Ee]rror[Rr]eporter/

# Paquetes de terceros
Assets/Gabies_Assets/
Assets/HorrorPuzzleItems/
Assets/JustPlay/
Assets/PinkTea/
Assets/Presents/
Assets/Akduman/
Assets/Universal UI, Game & Notification Sound Effects/

# Archivos generados por Unity
ComputeCommandBuffer.cs
IBaseCommandBuffer.cs
IComputeCommandBuffer.cs
IRasterCommandBuffer.cs
IUnsafeCommandBuffer.cs
RasterCommandBuffer.cs
UnsafeCommandBuffer.cs
UIElementsSchema/
UpgradeLog.htm
gitignore

# Visual Studio
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity meta files generados
*.pidb.meta
*.pdb.meta
*.mdb.meta

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini